@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.main-navigation__menu-btn {
  width: 2.5rem;
  height: 1.3rem;
  background:black;
  border: none;
  display:flex;
   flex-direction: row;
  justify-content: center;
  margin-right: 0.1rem;
  cursor: pointer;
}

.main-navigation__menu-btn span {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: white;
}

.main-navigation__title {
  color: black;
  font-family: 'Margot', sans-serif !important;
}

.main-navigation__title a {
  text-decoration: none;
  color: white;
}

.main-navigation__header-nav {
  margin-right: 15%;
}


.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {

  .main-navigation__title a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
  }

  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
@media (max-width: 468px) {
  
  main-navigation__menu-btn {
    width: 0.5rem;
    height: 0.3rem;
    background:black;
    border: none;
    display:flex;
     flex-direction: row;
    justify-content: center;
    margin-right: 0.1rem;
  }  
  .main-navigation__title a {
    font-size: 0.8rem;
    /* text-decoration: none;
    color: white; */
  }

  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: flex;
  }

  .main-navigation__menu-btn {
    width: 2.5rem;
    height: 1.3rem;
    background:#34495e;
    border: none;
    display:grid;
     flex-direction: row;
    justify-content: center;
    margin-right: 0.1rem;
    cursor: pointer;
  }
  
  .main-navigation__menu-btn span {
    display: block;
    width: 1.3rem;
    height: 0.2rem;
    background: white;
  }
  .main-navigation__menu-btn-span {
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    background: yellow;
    margin-top: 1px;
  }
  
  .main-navigation__title {
    color: black;
    font-family: 'Margot', sans-serif !important;
    font-size:0.3rem;
    /* font-size: xx-small; */
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }
  
  /* .main-navigation__header-nav {
    margin-right: 1px;
  }
  
  
  .main-navigation__drawer-nav {
    height: 100%;
  } */
}