/* MainFooter.css */
html, body {
	margin: 0;
	padding: 0;
	height: 100%; /* Ensure the body takes full height */
  }
  
  #root { /* Assuming your app is wrapped in a div with id="root" */
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* Ensure the root container takes at least the full viewport height */
  }
  
  .footer-container {
	background-color: #34495e;
	color: #fff;
	padding: 20px 0;
	margin-top: auto; /* Push the footer to the bottom */
  }
  
  .footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
  }
  
  .footer-content h1 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .footer-links {
	margin-bottom: 20px;
  }
  
  .footer-links a {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 16px;
	transition: color 0.3s;
  }
  
  .footer-links a:hover {
	color: #ff0055;
  }
  
  .footer-social {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
  }
  
  .social-link {
	color: #fff;
	text-decoration: none;
	margin: 0 10px;
	font-size: 16px;
	transition: color 0.3s;
  }
  
  .social-link:hover {
	color: #ff0055;
  }
  
  .footer-bottom {
	background-color: white;
	padding: 10px;
	text-align: center;
  }
  
  .footer-bottom p {
	margin: 0;
	font-size: 14px;
	color: black;
  }