.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around; /* Distribute space evenly */
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav-links li {
  margin: 0 1rem; /* Adjust this value to increase/decrease the space */
}
.nav-links li {
  display: flex;
  align-items: center;
}

.dot-inbetween {
  margin-bottom: 0; /* Reset any additional margin-bottom */
  margin-right: 5rem;
  margin-left: 2rem;
}

/* Add this import statement at the beginning of your CSS file to include the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Rest of your existing CSS */

.nav-links a,
.dropdown button,
.dropdown span {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to these elements */
  font-weight: bold;
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
}

/* Hover and Active States */
.nav-links a:hover,
.nav-links a:active,
.nav-links a.active,
.dropdown:hover span,
.dropdown button:hover {
  color: white; /* Highlight color on hover */
}

/* Dropdown Menu */
.dropdown {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to these elements */
  font-weight: bold;
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media Queries */
@media (min-width: 768px) {
  .nav-links {
    flex-direction: row; /* Arrange links in a row on larger screens */
  }

  .nav-links li {
    margin: 0 1rem; /* Space between links */
  }

  .nav-links a,
  .dropdown span {
    color: white; /* Assuming dark background */
  }

  .nav-links button,
  .dropdown button {
    color: white;
    background: transparent;
  }

  .dropdown-content {
    background-color: #34495e;
  }

  .nav-links a:hover,
  .nav-links a:active,
  .dropdown:hover span,
  .dropdown:hover .dropdown-content,
  .dropdown button:hover {
    color: grey;
  }
}
