.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0.5rem; /* Adjusted the margin for smaller gaps */
}

.dot-inbetween{
  margin-bottom: 2%;
  border-radius: 15px;
}

/* Add this import statement at the beginning of your CSS file to include the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Rest of your existing CSS */

.nav-links a,
.dropdown button,
.dropdown span {
  font-family: 'Montserrat', sans-serif; /* Apply Montserrat font to these elements */
  font-weight: bold;
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
}

/* Add the Montserrat font to other relevant elements as needed */

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active,
.dropdown:hover span,
.dropdown button:hover, /* Include the hover state for consistency */
/* .dropdown button:active {
  /* background: #f8df00; 
  border-color: #292929;
  color: #292929;
  border-radius: 5px;
} */

.dropdown {
  position: relative;
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 0 0.5rem; /* Adjusted the margin for smaller gaps */
  }

  .nav-links a,
  .dropdown span {
    color: white;
    text-decoration: none;
  }

  .nav-links button,
  .dropdown button {
    /* border: 1px solid white; */
    color: white;
    background: transparent;
  }

  .dropdown-content {
    background-color: #34495e;
  }

  .nav-links a:hover,
  .nav-links a:active,
  .dropdown:hover span,
  .dropdown:hover .dropdown-content,
  .dropdown button:hover, /* Include the hover state for consistency */
  .dropdown button:active {
    /* background: #f8df00; */
    color: grey;
  }
}





/* .dropdown button {
  margin-top: 0.5rem; /* Adjusted the margin-top for vertical alignment */ 