backend/node_modules
backend/config.js
backend/uploads
frontend/node_modules
VideoCallFeature/node_modules
VideoCallFeature/node_modules/.bin
VideoCallFeature/client/node_modules
VideoCallFeature/client/node_modules/.bin