version: '3.8'

services:
  backend:
    build:
      context: ./backend
    container_name: silentsymphonybackend
    ports:
      - "5555:5555"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "start"] 
    depends_on:
      - mongo
    env_file: ./backend/.env
    networks:
      - app-network

  mongo:
    image: mongo
    volumes:
      - data-volume:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network

  frontend:
    build:
      context: ./finger-spelling-frontend
    container_name: finger-spelling-frontend
    command: npm start
    depends_on:
      - backend
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    networks:
      - app-network

  videocalling:
    build:
      context: ./video-calling-feature
    container_name: videocalling-feature
    ports:
      - "3004:3000"
    networks:
      - app-network

  peerjs:
    image: peerjs/peerjs-server
    container_name: peerjs
    command: peerjs --port 3005
    ports:
      - "3006:3005"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  data-volume:
    driver: local
