.place-item {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures content is centered */
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.place-item__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.place-item__info {
  padding: 1rem;
  text-align: center;
}

.place-item__image {
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
  margin: auto; /* Center horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents overflow issues */
  border-radius: 8px; /* Optional for rounded corners */
  background-color: #f0f0f0; /* Optional: in case image fails to load */
}

.place-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images fill the container without stretching */
  padding-top: 1%;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}

.place-item__modal-content {
  padding: 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.map-container {
  height: 15rem;
  width: 100%;
}

@media (min-width: 768px) {
  .place-item__image {
    width: 300px;
    height: 300px;
  }
}
