.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fef9f5; /* Adjust background color as needed */
  }
  
  .about-left-side {
    flex: 1;
    margin-right: 20px;
  }
  
  .about-left-side img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Add border-radius as needed */
  }
  
  .about-right-side {
    flex: 2;
    margin-bottom: 150px;
    margin-left: 30px;
  }
  
  .about-right-side h1 {
    font-size: 2rem; /* Adjust font size as needed */
    color: #333333; /* Adjust text color as needed */
  }
  