.brief-containerr {
  height: fit-content;
}

.brief-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #eaedff;
  height: fit-content;
  text-overflow: hidden;
}

.brief-left-side {
  flex: 1;
  margin-right: 20px;
}

.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rectangle {
  width: 100px;
  height: 50px;
  margin-bottom: 10px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.rectangle:hover {
  transform: rotateY(180deg);
}

.front, .back {
  font-size: medium;
  font-weight: 500;
  font-family: 'Margot', sans-serif !important;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.rectangle img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.rectangle p {
  font-size: 14px;
  padding: 10px;
  color: #fff;
  font-family: 'Margot', sans-serif !important;
}

.rectangle1 {
  width: 330px;
  height: 330px;
  border-radius: 8px;
  background-color: #B7C9F2;
}

.rectangle2 {
  width: 330px;
  height: 203px;
  border-radius: 8px;
  background-color: #191B24;
}

.rectangle3 {
  width: 215px;
  height: 215px;
  margin-top: -555px;
  margin-left: 350px;
  margin-bottom: 500px;
  border-radius: 8px;
  background-color: #191B24;
}

.rectangle4 {
  width: 215px;
  height: 320px;
  margin-top: -490px;
  margin-left: 350px;
  margin-bottom: 500px;
  border-radius: 8px;
  background-color: #B7C9F2;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #191B24;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.circle-co {
  width: 10px;
  height: 10px;
  background-color: #B7C9F2;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.brief-heading {
  margin-top: 10px;
  height: 60px;
  width: 280px;
  margin-bottom: 5px;
}

.custom-heading {
  font-size: 84px;
  font-weight: bolder;
  font-family: 'Margot', sans-serif !important;
}

.brief-content {
  font-size: 26px;
  line-height: 34px;
  color: #4D5A6E;
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: 'Margot', sans-serif !important;
}

.brief-right-side {
  flex: 2;
  margin-bottom: 500px;
  /* margin-left: 100px; */
}

.brief-right-side h1 {
  font-size: 2rem;
  color: #333333;
  font-family: 'Margot', sans-serif !important;
  white-space: nowrap;
  max-width: 100%;
}

.button-container {
  margin-top: 40px;
  margin-left: 16px;
}

.underline-text {
  margin-left: 120px;
  margin-top: -50px;
  white-space: nowrap;
}

.underline-text span {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .rectangle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    height: fit-content;
    align-items: flex-start;
    /* margin-top: 15rem; */
  }

  .rectangle {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
  }

  .rectangle img {
    width: 120%;
    height: 150%;
  }

  .rectangle p {
    font-size: 9px;
  }

  .rectangle1, .rectangle2, .rectangle3, .rectangle4 {
    border-radius: 8px;
  }

  .rectangle1 {
    background-color: #B7C9F2;
  }

  .rectangle2, .rectangle3 {
    background-color: #191B24;
  }

  .rectangle4 {
    background-color: #B7C9F2;
  }

  .underline-text {
    margin-left: 120px;
    margin-top: -20px;
  }

  .brief-heading {
    margin-top: -105px;
  }

  .custom-heading {
    font-size: 24px;
    margin-bottom: -10px;
  }

  .brief-content {
    font-size: 14px;
    line-height: 24px;
  }

  .brief-right-side {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .brief-right-side h1 {
    font-size: 2.5rem;
  }

  .button-container {
    margin-top: 20px;
  }

  .underline-text {
    margin-left: 50px;
  }
}

@media (max-width: 468px) {
  .brief-containerr {
    height: fit-content;
  }
  
  .brief-container {
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
  }

  .brief-left-side, .brief-right-side {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 0;
  }

  .rectangle {
    width: 60px;
    height: 30px;
  }

  .rectangle1, .rectangle2, .rectangle3, .rectangle4 {
    width: 130px;
    height: 100px;
    margin: 30px 0;
  }

  .brief-right-side {
    margin-top: 20px;
  }

  .custom-heading {
    font-size: 24px;
    margin-bottom: -20px;
  }

  .brief-content {
    font-size: 14px;
    line-height: 24px;
    margin-top: -30px;
  }

  .brief-right-side h1 {
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 0px;
    color: #4D5A6E;
  }

  .button-container {
    margin-top: 20px;
    margin-left: 0;
  }

  .underline-text {
    margin-left: 0;
    text-align: left;
    margin-top: 1px;
  }
}