.brief-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eaedff; /* Adjust background color as needed */
    margin-bottom: -10%;

  }
  
  .brief-left-side {
    flex: 1;
    margin-right: 20px;
  }
  
  .rectangle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .rectangle {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .rectangle:hover {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    font-size: medium;
    font-weight:500;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .front {
    z-index: 2;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .rectangle img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  
  .rectangle p {
    font-size: 14px;
    padding: 10px;
    color: #fff;
  }
  
  
  .rectangle1 {
    width: 330px;
    height: 330px;
    border-radius: 8px;
    background-color: #B7C9F2;
  }
  
  .rectangle2 {
    width: 330px;
    height: 203px;
    border-radius: 8px;
    background-color:#191B24;

  }
  
  .rectangle3 {
    width: 215px;
    height: 215px;
    margin-top: -555px;
    margin-left:350px;
    margin-bottom: 500px;
    border-radius: 8px;
    background-color: #191B24;
  }
  
  .rectangle4 {
    width: 215px;
    height: 320px;
    margin-top: -490px;
    margin-left:350px;
    margin-bottom: 500px;
    border-radius: 8px;
    background-color: #B7C9F2;
  }
  
  .circle {
    width: 10px;
    height: 10px;
    background-color: #191B24;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .circle-co {
    width: 10px;
    height: 10px;
    background-color: #B7C9F2;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .brief-heading {
    margin-top: 10px;
    height: 60px;
    width: 280px;
    margin-bottom: 5px;
  }
  
  .custom-heading {
    font-size: 34px; /* Adjust font size as needed */
    font-weight:bolder; /* Adjust font weight as needed */
  }
  
  .brief-content{
    font-size: 16px;
    line-height: 24px;
    color:#4D5A6E;
    margin-top: 25px;

  }
  .brief-right-side {
    flex: 2;
    margin-bottom: 500px;
    margin-left: 100px;
  }
  
  .brief-right-side h1 {
    font-size: 2rem; /* Adjust font size as needed */
    color: #333333; /* Adjust text color as needed */
  }
  .button-container{
    margin-top: 60px;
    margin-left: 80px
  }
  .underline-text {
    margin-left: 120px; /* Adjust margin as needed */
    margin-top: -20px;
  }
  
  .underline-text span {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .brief-right-side {
      margin-left: 100px;
    }
  
    .button-container {
      margin-top: 60px;
      margin-left: 80px;
    }
    .rectangle-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    
    .rectangle {
      width: 60px;
      height: 30px;
      margin-bottom: 10px;
      position: relative;
      transition: transform 1s;
      transform-style: preserve-3d;
    }
    
    .rectangle:hover {
      transform: rotateY(180deg);
    }
    
    .front,
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
    }
    
    .front {
      z-index: 2;
    }
    
    .back {
      transform: rotateY(180deg);
    }
    
    .rectangle img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
    
    .rectangle p {
      font-size: 14px;
      padding: 10px;
      color: #fff;
    }
    
    
    .rectangle1 {
      width: 130px;
      height: 130px;
      border-radius: 8px;
      background-color: #B7C9F2;
    }
    
    .rectangle2 {
      width: 130px;
      height: 100px;
      border-radius: 8px;
      background-color:#191B24;
  
    }
    
    .rectangle3 {
      width: 115px;
      height: 115px;
      margin-top: -250px;
      margin-left:140px;
      margin-bottom: 500px;
      border-radius: 8px;
      background-color: #191B24;
    }
    
    .rectangle4 {
      width: 115px;
      height: 120px;
      margin-top: -495px;
      margin-left:140px;
      margin-bottom: 500px;
      border-radius: 8px;
      background-color: #B7C9F2;
    }
    
    .circle {
      width: 10px;
      height: 10px;
      background-color: #191B24;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .circle-co {
      width: 10px;
      height: 10px;
      background-color: #B7C9F2;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    .underline-text {
      margin-left: 120px;
      margin-top: -20px;
    }
    .brief-heading {
      margin-top: -105px;
      height: 60px;
      width: 280px;
      margin-bottom: 5px;
    }
     /* make changes here  */
     
    .custom-heading {
      font-size:24px; /* Adjust font size as needed */
      font-weight:bolder; /* Adjust font weight as needed */
    }
    
    .brief-content{
      font-size: 14px;
      line-height: 24px;
      color:#4D5A6E;
      margin-top: 25px;
  
    }
    .brief-right-side {
      flex: 2;
      margin-bottom: 400px;
      margin-left: 10px;
    }
    
    .brief-right-side h1 {
      font-size: 2rem; /* Adjust font size as needed */
      color: #333333; /* Adjust text color as needed */
    }
    .button-container{
      margin-top: 20px;
      margin-left: 0px
    }
    .underline-text {
      margin-left: 100px; /* Adjust margin as needed */
      margin-top: -20px;
      color:#4D5A6E;
    }
    
    .underline-text span {
      text-decoration: underline;
    }
  
  }





