.horizontal-scroller-container {
  
  white-space: nowrap;
  padding: 20px;
  background-color: #fef9f5;
}

.scroller-content {
  display: flex;
  gap: 20px; /* Adjust the gap as needed */
  justify-content: center;
  align-items: center;
}

.feature-box {
  margin: 10px; /* Adjust the margin as needed */
  margin-left: 140px;
  width: 240px;
  height: 200px;
  padding: 15px;
  border: 1px solid #ccc;
  border-top-left-radius: 0; /* Set to 0 to remove the border */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.998);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 50px;
    height: 50px;
    background-color: #F5F5F5;
    border-radius: 150%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 970%;
    border-bottom-left-radius: 50%;
  }

  .feature-wrapper {
    margin: 0 10px; /* Adjust the margin as needed */
  }
}

.feature-image {
  max-width: 100%; /* Adjust the width as needed */
  max-height: 100%; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 8px; /* Apply border-radius to the image */
}

.feature-text {
  font-size: 1rem;
  color: #ffffff;
}

/* Media queries for responsiveness based on the provided settings */
@media screen and (max-width: 768px) {
  .horizontal-scroller-container {
    padding: 10px;
  }

  .scroller-content {
    flex-direction: column;
  }

  .feature-box {
    margin: 10px;
    margin-left: 0;
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .feature-box {
    width: 100%;
    height: auto;
  }
}
