.home-container {
  display: flex;
  height: 80vh;
  background-color: #EAEDFF;
  margin-top: -2%;
}

.home-banner-container {
  display: flex;
  width: 100%;
}

.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column; /* Added to stack elements vertically */
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.primary-heading {
  font-size: clamp(3rem, 3vw, 2rem);
  font-family: 'Margot', sans-serif !important;
  color: #000000;
  /* text-shadow: 2px 2px 4px black; */
  margin: 0;
  align-self: flex-start; /* Align the heading to the start of the flex container */
}


.sub-text {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #555555; /* Adjust the color as needed */
  margin-top: 20px; /* Add spacing between heading and subtext */
}

.home-image-section {
  height: 500px;
  width: 350px;
  margin-top: -10%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #555;
  margin: 8%;
  border-radius:12%;
  
  /* overflow: hidden; */
}

.bg-image {
  width: 130%;
  height: 100%;
  margin-right: 15%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5%;
}

/* .home-banner-container {
  display: flex;
  width: 100%;
}

.home-text-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
} */


/* .primary-heading {
  font-size: clamp(3rem, 3vw, 2rem);
  color: #000000;
  text-shadow: 3px 3px 6px black;
  margin: 0;
} */
.modelTD{
  margin-top: 20%;
  height: 100%;
}

/* .home-image-section {
  flex: 1;
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media (max-width: 768px) {

  .home-container {
    display: flex;
    height: 20vh;
    background-color: #EAEDFF;
    margin-top: 10px;
  }
  .home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20rem;
    
  }
  .primary-heading {
    /* padding-top: 18rem; */
  font-size: clamp(2.5rem, 3vw, 2rem);
  font-family: 'Margot', sans-serif !important;
  color: #000000;
  white-space: nowrap;
  /* text-shadow: 2px 2px 4px black; */
  margin: 0;
  align-self: flex-start; /* Align the heading to the start of the flex container */
}
.sub-text {
  font-size: 1.3rem; /* Adjust the font size as needed */
  color: #555555; /* Adjust the color as needed */
  margin-top: 5px; /* Add spacing between heading and subtext */
  text-align: center;
}
.home-image-section {
  height: 480px;
  width: 350px;
  margin-top: -10%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #555;
  margin: 8%;
  border-radius:12%;
  
  /* overflow: hidden; */
}

}


